body {
    font-family: system-ui;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: darkslategray;
    color: whitesmoke;
}

header {
    margin-bottom: 5vh;
}

a {
    color: whitesmoke;
}

footer {
    margin-top: 10vh;
}
